option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'KylBqi29AX9n1_CpKpi-zmjOCekv-ny4pCHEqUwwRTM'
    DATABASE_URI: 'postgresql://AWSDatabaseSean:ojvKacmtxXwMy9dhrxaj@database-1.c9a8y6kmk0u7.ap-southeast-2.rds.amazonaws.com:5432/mydatabase'
    AWS_ACCESS_KEY_ID: 'AKIASMBB56OERWCL53W5'
    AWS_SECRET_ACCESS_KEY: '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'
    S3_BUCKET_NAME: 'a3cloudcomputing'
    FLASK_APP: application.py
    FLASK_ENV: production
