option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: your_secret_key
    SQLALCHEMY_DATABASE_URI: mysql+pymysql://SeanAtt03:3DHUMafHiNipUhPi37pE@awseb-e-zvx4mce2hh-stack-awsebrdsdatabase-imgcu2es8qnf.c9a8y6kmk0u7.ap-southeast-2.rds.amazonaws.com:3306/ebdb
