option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 648c585ad92bfa3add86ff27efaa1a2f0fcc59195fea1427c74df81b7dc6dfd5
    SQLALCHEMY_DATABASE_URI: mysql+pymysql://SeanAtt03:3DHUMafHiNipUhPi37pE@awseb-e-zvx4mce2hh-stack-awsebrdsdatabase-imgcu2es8qnf.c9a8y6kmk0u7.ap-southeast-2.rds.amazonaws.com:3306/ebdb
